<div class="friends-links clearfix">
	<% colors= ['#27ea80','#3366FF','#ff5473','#df27ea', '#31ac76', '#ea4563', '#31a6a0', '#8e7daa', '#4fad7b', '#f99f13', '#f85200', '#666666', '#119da4', '#13505b', '#ccc', '#ccc', '#3c4859'] %>
    <% for (var link in site.data.friends) { %>
	<% random1 = Math.floor(Math.random() * 12) + 0; %>
    <a href="<%= site.data.friends[link].url %>" rel="nofollow" target="_blank" style="border: 1px dashed <%= colors[random1] %>"> <%= site.data.friends[link].name %> </a>
    <% } %>
</div>
<script type="text/javascript">
	len = $(".friends-links").length - 1;
	$(".widget_ui_tags .items a").each(function(i) {
		var let = new Array( '27ea80','3366FF','ff5473','df27ea', '31ac76', 'ea4563', '31a6a0', '8e7daa', '4fad7b', 'f99f13', 'f85200', '666666');
		var random1 = Math.floor(Math.random() * 12) + 0;
		var num = Math.floor(Math.random() * 5 + 12);
		$(this).attr('style', 'border-color: #' + let[random1]);
		if ($(this).next().length > 0) {
			last = $(this).next().position().left
		}
	});
</script>

<% if (post.content){ %>
<article
  id="<%= post.layout %>-<%= post._id %>"
  class="article article-type-<%= post.layout %>"
>
    <div class="article-inner">
        <div class="article-entry post-inner-html">
            <%- post.content %>
        </div>
    </div>
</article>
<% } %>
    
<% if (post.comment && config.aomori_disqus_shortname){ %>
<section class="comments">
  <div id="disqus_thread"></div>
  <script>
      (function () { // DON'T EDIT BELOW THIS LINE
          var d = document, s = d.createElement('script');
          s.src = 'https://<%- config.aomori_disqus_shortname %>.disqus.com/embed.js';
          s.setAttribute('data-timestamp', +new Date());
          (d.head || d.body).appendChild(s);
      })();
  </script>
</section>
<% } %>

<% if (post.comment && config.aomori_gitalk){ %>
<section class="comments">
  <div id="gitalk-container"></div>
</section>
<% } %>
